.bs-checkbox { cursor: pointer; }
.form-group label .bs-checkbox {margin-left: -20px; }
.bs-checkbox input {display:none;}
.bs-checkbox .fa {display:inline-block; min-width:14px; } /* Fix for different width in font-awesome icons */
